<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan.mapper.GoodsMapper">
    <!--goodsPageQueryVO映射-->
    <resultMap id="goodsPageQueryVO" type="com.wan.vo.GoodsPageQueryVO">
        <id column="id" property="id"></id>
        <result column="status" property="status"></result>
        <result column="store_id" property="storeId"></result>
        <result column="goods_name" property="goodsName"></result>
        <result column="category_name" property="categoryName"></result>
        <result column="total" property="total"></result>
        <result column="price" property="price"></result>
        <result column="discount" property="discount"></result>
        <result column="cover_pic" property="coverPic"></result>
        <result column="description" property="description"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <association property="store" javaType="com.wan.entity.Store"
                     select="getGoodsStore" column="{id=store_id}">
        </association>
    </resultMap>

    <resultMap id="store" type="com.wan.entity.Store">
        <id column="id" property="id"></id>
        <result column="store_name" property="storeName"></result>
        <result column="status" property="status"></result>
        <result column="user_id" property="userId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <association property="address" javaType="com.wan.entity.Address"
                     select="getStoreAddress" column="id">
        </association>
    </resultMap>
    <resultMap id="address" type="com.wan.entity.Address">
        <id column="id" property="id"></id>
        <result column="store_id" property="storeId"></result>
        <result column="province_code" property="provinceCode"></result>
        <result column="province_name" property="provinceName"></result>
        <result column="city_code" property="cityCode"></result>
        <result column="city_name" property="cityName"></result>
        <result column="district_code" property="districtCode"></result>
        <result column="district_name" property="districtName"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <select id="getGoodsStore" resultMap="store">
        select * from store s
        <where>
            <if test="storeName != null">
                and s.store_name like concat('%', #{toreName}, '%')
            </if>
            <if test="userId != null">
                and s.user_id = #{userId}
            </if>
            and id = #{id}
        </where>

    </select>
    <select id="getStoreAddress" resultMap="address">
        select *
        from store_address
        where store_id = #{id}
    </select>
    <!--添加商品-->
    <insert id="insertGoods" keyProperty="id" useGeneratedKeys="true">
        insert into goods(store_id, goods_name, price, total, discount,
                          description, cover_pic, status, category_id,
                          update_time,
                          create_time)
        VALUES (#{storeId}, #{goodsName}, #{price}, #{total}, #{discount},
                #{description}, #{coverPic}, #{status}, #{categoryId},
                    #{updateTime}, #{createTime})
    </insert>
    <!--修改商品信息-->
    <update id="update">
        update goods
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="total != null">
                total = #{total},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="coverPic != null">
                cover_pic = #{coverPic},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--商品的批量删除-->
    <delete id="delete">
        delete from goods where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--商品的分页查询-->
    <select id="pageQuery" resultMap="goodsPageQueryVO">
        SELECT
        g.id,
        g.store_id,
        g.goods_name,
        category_name,
        g.price,
        g.total,
        g.discount,
        g.description,
        g.cover_pic,
        g.`status`,
        g.create_time
        FROM
        goods g inner join category c on g.category_id = c.id
        <where>
            <if test="goodsName != null">
                and goods_name like concat('%', #{goodsName}, '%')
            </if>
            <if test="status != null">
                and g.status = #{status}
            </if>
            <if test="categoryId != null">
                and g.category_id = #{categoryId}
            </if>
            <if test="updateTime != null">
                and g.update_time = #{updateTime}
            </if>
              <if test="storeId != null">
                  and g.store_id  = #{storeId}
              </if>
        </where>
        order by g.create_time
        <if test="sort == 1">
            asc
        </if>
        <if test="sort == 0">
            desc
        </if>
    </select>

    <select id="findShelvesGoodsByStoreId" resultType="com.wan.entity.Goods">
        select * from goods
        <where>
            status = 1
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>

        </where>
    </select>
    <select id="findGoodsByIds" resultType="com.wan.entity.Goods">
        select * from goods where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="searchGoods" resultType="com.wan.entity.Goods">
        select id,
               store_id,
                goods_name,
               category_id,
               price,
               total,
               discount,
               description,
               cover_pic,
               `status`,
               create_time
        from goods
        where status = 1
#           and total > 0
          and goods_name like concat('%', #{goodsName}, '%')
    </select>
</mapper>