<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan.mapper.ManagerMapper">

    <resultMap id="userPageQueryVO" type="com.wan.vo.UserPageQueryVO">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="status" column="status"></result>
        <result property="phone" column="phone"></result>
        <result property="avatar" column="avatar"></result>
        <result property="isOnline" column="is_online"></result>
        <result property="status" column="status"></result>
        <result property="accountStatus" column="account_status"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <!--此处必须要指明javaType类型限定，否则会报错-->
        <!--column属性是将主查询字段传递给子查询当作条件来查询-->
        <collection
                property="addressList"
                ofType="com.wan.entity.Address"
                javaType="java.util.ArrayList"
                select="selectAddressList"
                column="id"
        >

        </collection>
    </resultMap>
    <resultMap id="AddressListMap" type="com.wan.entity.Address">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="provinceCode" column="province_code"></result>
        <result property="provinceName" column="province_name"></result>
        <result property="cityCode" column="city_code"></result>
        <result property="cityName" column="city_name"></result>
        <result property="districtCode" column="district_code"></result>
        <result property="districtName" column="district_name"></result>
        <result property="detail" column="detail"></result>
        <result property="isDefault" column="is_default"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>
    <!--goodsPageQueryVO映射-->
    <resultMap id="goodsPageQueryVO" type="com.wan.vo.GoodsPageQueryVO">
        <id column="id" property="id"></id>
        <result column="status" property="status"></result>
        <result column="store_id" property="storeId"></result>
        <result column="goods_name" property="goodsName"></result>
        <result column="total" property="total"></result>
        <result column="price" property="price"></result>
        <result column="discount" property="discount"></result>
        <result column="cover_pic" property="coverPic"></result>
        <result column="description" property="description"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <association property="store" javaType="com.wan.entity.Store">
            <id column="id" property="id"></id>
            <result column="store_name" property="storeName"></result>
            <result column="status" property="status"></result>
            <result column="user_id" property="userId"></result>
            <result column="create_time" property="createTime"></result>
            <result column="update_time" property="updateTime"></result>
        </association>
    </resultMap>

    <update id="update">
        update user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="accountStatus != null">
                account_status = #{accountStatus},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isOnline != null">
                is_online = #{isOnline},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id};
    </update>

    <select id="selectAddressList" resultMap="AddressListMap">
        select *
        from address_book
        where user_id = #{userId}
    </select>
    <!--用户的分页查询-->
    <select id="pageQuery" resultMap="userPageQueryVO">
        select * from user
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="accountStatus != null">
                and account_status = #{accountStatus}
            </if>
            <if test="isOnline != null">
                and is_online = #{isOnline}
            </if>
        </where>
        order by user.create_time
        <if test="sort == 1">
            asc
        </if>
        <if test="sort == 0">
            desc
        </if>
    </select>
    <!--商店的分页查询-->
    <select id="storePageQuery" resultType="com.wan.vo.StorePageQueryVO">
        SELECT
        s.id,
        s.user_id,
        s.store_name,
        s.`status` ,
        u.username,
        s.create_time
        FROM
        store s
        INNER JOIN `user` u ON `u`.id = s.user_id
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="storeName != null">
                and store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
        order by s.create_time
    </select>


    <select id="queryStoreSalesInOneDay" resultType="com.wan.vo.StoreSalesWithStoreName">
        SELECT ss.*, s.store_name
        FROM store_sales ss
                 INNER JOIN store s on ss.store_id = s.id
        WHERE date between #{start} and #{end}
        ORDER BY date
    </select>


    <select id="queryAllUserCountInOneDay" resultType="java.lang.Integer">
        select count(*)
        from user
    </select>
    <select id="queryRegisterUserCountInOneDay" resultType="java.lang.Integer">
        select count(*)
        from user
        WHERE create_time between #{start} and #{end}
        GROUP BY create_time
    </select>
    <select id="queryUserCountByDay" resultType="java.lang.Integer">
        select count(*)
        from user
        WHERE create_time between #{start} and #{end}
        GROUP BY create_time
    </select>


</mapper>