<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wan.mapper.ReportMapper">
    <insert id="addReport">
        INSERT INTO report(user_id, comment_id, reason, status, is_award, create_time, update_time)
        VALUES (#{userId}, #{commentId}, #{reason}, #{status}, #{isAward}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateReport">
        update report
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="isAward != null">
                is_award = #{isAward},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="commentId != null">
                comment_id = #{commentId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
    </update>
    <delete id="batchDeleteReport">
        delete from report where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="batchDeleteReportByCommentId">
        delete from report where comment_id in
        <foreach collection="commentsIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>

    <resultMap id="reportVO" type="com.wan.vo.ReportVO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="reason" column="reason"/>
        <result property="status" column="status"/>
        <result property="isAward" column="is_award"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="reportedUserId" column="reported_user_id"/>
        <result property="reportedUsername" column="reported_username"/>
        <result property="content" column="content"/>
        <result property="storeName" column="store_name"/>
        <result property="goodsName" column="goods_name"/>
        <result property="commentId" column="comment_id"/>
        <result property="reportCount" column="report_count"/>
        <result property="commentCreateTime" column="comment_create_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="pageQuery" resultMap="reportVO">
        SELECT r.id,
        r.reason,
        r.user_id, # 举报人id
        u.username, # 举报人用户名
        r.is_award, # 是否举报奖励
        c.user_id as reported_user_id, # 被举报人id
        c.username as reported_username, # 被举报人用户名
        c.create_time as comment_create_time, # 评论时间
        c.comment_status,
        r.comment_id, # 评论id
        r.status, # 举报状态
        c.content, # 评论内容
        c.report_count, # 评论被举报次数
        s.store_name, # 评论所属店铺名
        g.goods_name, # 评论所属商品名
        r.create_time
        FROM report r
        inner join user u on u.id = r.user_id
        inner join comments c on c.id = r.comment_id
        inner join user re on re.id = c.user_id
        inner join store s on c.store_id = s.id
        inner join goods g on c.goods_id = g.id
        <where>
            <if test="username != null">
                and u.username like concat('%', #{username}, '%')
            </if>
            <if test="storeName != null">
                and s.store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="goodsName">
                and goods_name like concat('%', #{goodsName}, '%')
            </if>
            <if test="reportedUsername != null">
                and c.username like concat('%', #{reportedUsername}, '%')
            </if>
            <if test="storeId != null">
                and c.store_id = #{storeId}
            </if>
        </where>

        order by r.create_time
        <choose>
            <when test="sort == 0">
                desc
            </when>
            <when test="sort == 1">
                asc
            </when>
        </choose>
    </select>
    <select id="findReports" resultType="com.wan.entity.Report">
        select * from report where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>