<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wan.mapper.StoreMapper">

    <resultMap id="storePageVO" type="com.wan.vo.StorePageQueryVO">
        <id column="id" property="id"></id>
        <result property="username" column="username"></result>
        <result property="storeName" column="store_name"></result>
        <result property="userId" column="user_id"></result>
        <result property="status" column="status"></result>
        <result property="logo" column="logo"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <association property="address"
                     javaType="com.wan.entity.Address"
                     column="id" select="getStoreAddress">

        </association>
    </resultMap>

    <resultMap id="storeAddress" type="com.wan.entity.Address">
        <id column="id" property="id"></id>
        <result column="store_id" property="storeId"></result>
        <result column="province_code" property="provinceCode"></result>
        <result column="province_name" property="provinceName"></result>
        <result column="city_code" property="cityCode"></result>
        <result column="city_name" property="cityName"></result>
        <result column="district_code" property="districtCode"></result>
        <result column="district_name" property="districtName"></result>
        <result column="is_default" property="isDefault"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <select id="getStoreAddress" resultMap="storeAddress">
        select *
        from store_address
        where store_id = #{id}
    </select>


    <insert id="insertStore" keyProperty="id" useGeneratedKeys="true">
        insert into store(user_id, store_name, status, logo, create_time, update_time)
        VALUES (#{userId}, #{storeName}, #{status}, #{logo}, #{createTime}, #{updateTime})
    </insert>
    <update id="update">
        update store
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="storeName != null">
                store_name = #{storeName},
            </if>
            <if test="logo != null">
                logo = #{logo},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete from store where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultMap="storePageVO">
        SELECT
        s.id,
        s.user_id,
        s.store_name,
        s.`status` ,
        s.logo,
        u.username,
        s.create_time
        FROM
        store s
        INNER JOIN `user` u ON `u`.id = s.user_id
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="storeName != null">
                and store_name like concat('%', #{storeName}, '%')
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
            <if test="id != null">
                and s.id = #{id}
            </if>
        </where>
        order by s.create_time
        <if test="sort == 1">
            asc
        </if>
        <if test="sort == 0">
            desc
        </if>
    </select>

    <!--查询商店的详情-->
    <!--查询商店的详情-->
    <select id="getStoreDetail" resultType="com.wan.vo.StorePageQueryVO">
        SELECT s.id,
               s.user_id,
               s.store_name,
               s.`status`,
               s.logo,
               u.username,
               s.create_time
        FROM store s
                 INNER JOIN `user` u ON `u`.id = s.user_id
        where s.id = #{id}
    </select>

    <resultMap id="store" type="com.wan.entity.Store">
        <id column="id" property="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="storeName" column="store_name"></result>
        <result property="userId" column="user_id"></result>
        <result property="status" column="status"></result>
        <result property="logo" column="logo"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <association property="address"
                     javaType="com.wan.entity.Address"
                     column="id" select="getStoreAddress">

        </association>
    </resultMap>
    <select id="findStoreById" resultMap="store">
        select *
        from store
        where id = #{id}

    </select>

    <resultMap id="storeAllGoodsVO" type="com.wan.vo.StoreAllGoodsVO">
        <id property="id" column="id"></id>
        <result property="storeName" column="store_name"></result>
        <result property="status" column="status"></result>
        <collection property="goodsList" javaType="java.util.List"
                    ofType="com.wan.entity.Goods"
                    column="{storeId=id}"
                    select="com.wan.mapper.GoodsMapper.findShelvesGoodsByStoreId">

        </collection>
    </resultMap>
    <select id="getAllGoods" resultMap="storeAllGoodsVO">
        select id,
               store_name,
               status
        from store
        where id = #{id}
    </select>
    <select id="findStoreByIds" resultType="com.wan.entity.Store">
        select * from store where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>